<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs') %>
    </head>

    <body class="bg-secondary">
        <%- include('./partials/header.ejs') %>

        <div class="container mt-2">
            <div class="row text-center">
                <% user.guilds.forEach(guild => { %>
                    <a class="col-2 p-4 m-2 border border-opacity-50 border-dark rounded-3 text-decoration-none guild" href="/guilds/<%= guild.id %>">
                        <img width="128" height="128" class="rounded mt-3" <% if (guild.icon == null) { %>
                            src="https://cdn.discordapp.com/embed/avatars/0.png">
                        <% } else { %>
                            src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>">
                        <% } %>
                        <h5 class="mt-2 text-dark"><b><%= guild.name %></b></h5>
                    </a>
                <% }) %>
            </div>
        </div>

        <%- include('./partials/js.ejs') %>
    </body>
</html>